<div class="center">
  <div class="property-card">
    <div class="property-card-top">
      <img
        class="property-image"
        src="https://img-aws.ehowcdn.com/560x560p/photos.demandstudios.com/getty/article/99/213/186408562.jpg"
        alt=""
      />
      <div class="property-details">
        <p class="property-title">{{hotel.name}}</p>
        <p class="property-location-details">
          340M FROM THE CITY CENTER
        </p>
        <p class="property-price">&pound;98</p>
      </div>
    </div>
    <div class="property-card-bottom">
      <button class="property-card-button">Book</button>
    </div>
  </div>
</div>
